In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Fakhruddin\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
train.head()

,ExterQual,AllFlrsSF,GrLivArea,SimplOverallCond,GarageArea,TotRmsAbvGrd,LotFrontage,SalePrice
0,4,1316,1316,2,397,6,65.0,169990
1,4,2028,2028,2,880,7,88.0,369900
2,3,1072,1072,2,525,5,35.0,140000
3,3,1048,1048,2,286,6,72.0,135000
4,3,1779,1779,2,546,6,80.0,197900

In [4]:
train.shape

(1092, 8)

In [5]:
test.head()

,ExterQual,AllFlrsSF,GrLivArea,SimplOverallCond,GarageArea,TotRmsAbvGrd,LotFrontage,SalePrice
0,3,1839,1839,3,416,7,110.0,257500
1,3,2126,2126,2,538,7,0.0,185000
2,4,1709,1709,2,380,7,24.0,130000
3,3,1902,1902,2,539,8,68.0,112000
4,3,1072,1072,2,525,5,35.0,148000

In [6]:
test.shape

(292, 8)

In [7]:
y_train=train.SalePrice
X_train=train.drop('SalePrice',axis=1)
y_test=test.SalePrice
X_test=test.drop('SalePrice',axis=1)
print(X_test,X_train)

     ExterQual  AllFlrsSF  GrLivArea  SimplOverallCond  GarageArea  \
0            3       1839       1839                 3         416
1            3       2126       2126                 2         538
2            4       1709       1709                 2         380
3            3       1902       1902                 2         539
4            3       1072       1072                 2         525
..         ...        ...        ...               ...         ...
287          4       2868       2868                 2         716
288          5       1414       1414                 3         601
289          4       1456       1456                 2         429
290          4       1502       1502                 2         644
291          3        864        864                 2         360

     TotRmsAbvGrd  LotFrontage
0               7        110.0
1               7          0.0
2               7         24.0
3               8         68.0
4               5         35.0
..            ...          ...
287            11         85.0
288             6         87.0
289             8        105.0
290             7         79.0
291             5         60.0

[292 rows x 7 columns]       ExterQual  AllFlrsSF  GrLivArea  SimplOverallCond  GarageArea  \
0             4       1316       1316                 2         397
1             4       2028       2028                 2         880
2             3       1072       1072                 2         525
3             3       1048       1048                 2         286
4             3       1779       1779                 2         546
...         ...        ...        ...               ...         ...
1087          3       1277       1277                 2         526
1088          3       1152       1152                 3         300
1089          3       1269       1269                 2         308
1090          3        605        605                 3           0
1091          3       1456       1456                 2         400

      TotRmsAbvGrd  LotFrontage
0                6         65.0
1                7         88.0
2                5         35.0
3                6         72.0
4                6         80.0
...            ...          ...
1087             5         85.0
1088             6         80.0
1089             6         70.0
1090             5         58.0
1091             8         51.0

[1092 rows x 7 columns]

In [8]:
X_train.shape

(1092, 7)

In [9]:
X_test.shape

(292, 7)

In [10]:
y_train

0       169990
1       369900
2       140000
3       135000
4       197900
         ...
1087    167000
1088    158500
1089    155000
1090     86000
1091    176000
Name: SalePrice, Length: 1092, dtype: int64

In [11]:
from sklearn.linear_model import LinearRegression

In [18]:
# instantiate linear regression model
linreg = LinearRegression()

In [19]:
# fit model on training data
linreg.fit(X_train, np.log(y_train))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
# make predictions on test data
y_pred = linreg.predict(X_test)

In [21]:
y_pred[:10]

array([12.11227082, 12.19875709, 12.17873549, 12.09451926, 11.79496421,
       11.62810742, 12.23094302, 11.66779875, 12.83933008, 11.42802489])

In [22]:
from sklearn.metrics import mean_absolute_error

In [24]:
np.exp(y_pred)[:10]

array([182092.63418362, 198542.22728524, 194606.6236048 , 178888.72746131,
       132583.0090395 , 112207.75818254, 205036.44464953, 116751.00081422,
       376747.3483181 ,  91860.36123146])

In [25]:
# MAE calculation
mae=mean_absolute_error(y_test,np.exp(y_pred))

In [26]:
print(mae)

29158.295036636515

In [27]:
from sklearn.metrics import mean_squared_error

In [30]:
rmse=np.sqrt(mean_squared_error(y_test,np.exp(y_pred)))

print(np.round(rmse,2))

42842.87

In [31]:
from sklearn.metrics import r2_score

In [32]:
rsquared = r2_score(y_test, np.exp(y_pred))
print(rsquared)

0.7378446924962254